<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function doAddTask(){
    	$.ajax({
    	    url: '/add',
    	    type: 'POST',
    	    data: {
       	        "send_content" : $('#send_content').val() ,
       	        "send_duedatetime" : $('#send_duedatetime').val() 
    	    },
    	    dataType: 'text',
    	    success: function( data ) {
//				$('#taskslist').html(data);
//				setInputDateTimePicker();
    	    },
    	    error: function( data ) {
    	    },
    	    complete: function( data ) {
    	    }
    	});
    }
</script>
</head>
<title>
</title>
<body>
    <form id="form" action="/add" method="post">
		<p>
        <table name="input_task">
			<tr><th></th><th>内容</th><th>期限</th></tr>
			<tr>
            <!--
            <td><input type="button" value="追加" onclick="doAddTask()"></td>
            -->
            <td><input type="submit" value="追加" ></td>
            <td><input type="text" name="send_content" id="send_content"></td>
            <td><input type="text" name="send_duedatetime" id="send_duedatetime"></td>
            </tr>
        </table>
		</p>


    </form>
	<table>
		<tr><th></th><th></th><th>内容</th><th>状況</th><th>期限</th></tr>
		<% @todos.each do |todo|%>
		<tr>
			<td><input type="button" value="更新"/></td>
			<td><input type="button" value="削除"/></td>
		    <td>
	            <select id="status" name="status">
				<% if todo[:status] == 1 %>
	            <option value="1" selected>未完了</option>
				<% else %>
	            <option value="1">未完了</option>
				<% end %>
				<% if todo[:status] == 2 %>
	            <option value="2" selected>完了</option>
				<% else %>
	            <option value="2">完了</option>
				<% end %>
	            </select>
	        </td>
			<td><%= todo[:due_date] %></td>
			<td><%= todo[:content] %></td>
		</tr>
		<% end%>
	</table>
</body>
</html>
